.DS_Store
node_modules/
dist/
npm-debug.log
yarn-error.log
package-lock.json
.idea
*.iml
.nuxt
.vscode
.output

public/manifest*.json
public/sw.js
public/workbox-sw*.js*

.data

# Clacky-related configuration
.1024*
!.1024
.breakpoints

# TypeScript/JavaScript files
*.js.map
*.tsbuildinfo
.env
.env.*

# Vue/Nuxt files
.nuxt-*
.nitro
.cache
coverage

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.pnpm-store